%nav.navbar.navbar-toggleable-xl.navbar-inverse.bg-inverse
  .collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{:href => "#"} Support
      %li.nav-item
        %a.nav-link{:href => "#"} Contact
