%footer.page-footer.black
  .container
    .row
      .col.l6.s12
        %h5.white-text
          Footer Content!
      .col.l4.offset-12.s12
        %h5.white-text
          Links!
        %ul
          %li.grey-text.text-lighten-3 Link1
          %li.grey-text.text-lighten-3 Link2
  .footer-copyright
    .container
      © 2017 Alex Koch
