%table.table-striped
  %tr
    %td.table-header Order ID
    %td.table-header Order Status
    %td.table-header Order Date
  - @user.orders.reverse.each do |order|
    %tr 
      %td.table-detail
        = order.id.to_s 
      %td.table-detail
        = order.status
      %td.table-detail
        = order.created_at