%table.table-striped
  %tr
    %td Order ID
    %td Order Status
    %td Order Date
    %td Change Order Status
  - @user.orders.reverse.each do |order|
    %tr 
      %td
        = order.id.to_s 
      %td
        = order.status
      %td
        = order.created_at
      %td
        = display_change_button(order.status)
